$colorAlt:#333;
$colorMain:#fff;
$colorTest:rgb(46, 171, 22);
$colorYellow:rgb(250, 200, 0);
$colorYellow1:#FED053;  
$colorYellow2:#F5B301;
$colorYellow3:#EC9C04;
$colorBlack1:#3B3F46;
$colorBlack2:#2A2E34;
$colorBlack2:#1E2328;
$colorGreen1:rgb(28, 132, 85);